.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.content-viewer.video iframe{
  width: 100%;
  height: 80vh;
}

.content-viewer.image img {
  width: 100%;
  height: 80vh;
}

.content-viewer .info {
  display: flex;
  flex-direction: column;
  margin: 10px;
}