.image-viewer {
  display: flex;
  flex-direction: column;
}

.image-viewer .meta {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.image-viewer i:hover {
  cursor: pointer;
}

.image-viewer .space {
  flex-grow: 2;
}

.image-viewer .author-info {
  display: flex;
  height: 30px;
  margin-bottom: 10px;
}

.image-viewer .image {
  width: 100%;
  height: 500px;
}

.author-info .user-avatar {
  flex-basis: 30px;
  margin-right: 10px;
}

.author-info .user-name {
  font-weight: bold;
  align-self: center;
}

.author-info .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}